@model prjMvcCoreDemo.ViewModels.CAddToCartViewModel

@{
    ViewData["Title"] = "AddToCart";
}

<h1>AddToCart</h1>

<h4>CAddToCartViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
            <input type="hidden" asp-for="txtFId" value="@ViewBag.FID" />
            <div class="form-group">
                <label asp-for="txtCount" class="control-label"></label>
                <input asp-for="txtCount" class="form-control" value="1" />
                <span asp-validation-for="txtCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="加入購物車" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
